@model RumarApp.Models.Loan
@using RumarApp.Enums

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center font-bold">Editar Prestamo</h1>

<hr />
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Capital" class="control-label">Capital</label>
                <input asp-for="Capital" class="form-control" />
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Interest" class="control-label">Interes(%)</label>
                <input asp-for="Interest" class="form-control" />
                <span asp-validation-for="Interest" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Quote" class="control-label">Cuotas de Pago</label>
                <input asp-for="Quote" class="form-control" />
                <span asp-validation-for="Quote" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TransactionTypeId" class="control-label">Metodo de Pago</label>
                <select asp-for="TransactionTypeId" class="form-control" asp-items="Html.GetEnumSelectList<TransactionTypeEnum>()"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TransactionPaymentId" class="control-label">Tipo de Pago</label>
                <select asp-for="TransactionPaymentId" class="form-control" asp-items="Html.GetEnumSelectList<TransactionPaymentEnum>()"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ClientsId" class="control-label">Cliente</label>
                <span asp-validation-for="ClientsId" class="form-control span-background">@Model.Clients.FullName</span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Notes" class="control-label">Notas</label>
                <textarea asp-for="Notes" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Consulta</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
