@model RumarApp.Models.ClientViewModel

@{
    ViewData["Title"] = "Crear";
}

<h1 class="text-center font-bold">Nuevo Cliente</h1>
<form asp-action="Create" method="post" id="clientForm">
    <section class="content col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Cliente</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName">Nombre<span class="text-danger">(*)</span></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LastName">Apellido<span class="text-danger">(*)</span></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Identification">Identificacion<span class="text-danger">(*)</span></label>
                            <input asp-for="Identification" id="identification" class="form-control" />
                            <span asp-validation-for="Identification" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PhoneNumber">Telefono<span class="text-danger">(*)</span></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="MobileNumber">Celular</label>
                            <input asp-for="MobileNumber" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="CountryId">País<span class="text-danger">(*)</span></label>
                            <select asp-for="CountryId" class="form-control select2" asp-items="ViewBag.CountryId"></select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="City">Ciudad<span class="text-danger">(*)</span></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Nacionality">Nacionalidad<span class="text-danger">(*)</span></label>
                            <input asp-for="Nacionality" class="form-control" />
                            <span asp-validation-for="Nacionality" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PostalAddress">Direccion Postal<span class="text-danger">(*)</span></label>
                            <input asp-for="PostalAddress" class="form-control" />
                            <span asp-validation-for="PostalAddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Address">Direccion<span class="text-danger">(*)</span></label>
                            <textarea asp-for="Address" class="form-control" type="text"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <a asp-action="Index" class="btn btn-secondary">Volver a la Consulta</a>
                <input type="submit" value="Crear" id="submitClient" class="btn btn-success float-right">
            </div>
        </div>
    </section>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
