@model RumarApp.Models.ClientViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center font-bold">Editar Cliente</h1>

<form asp-action="Edit" method="post" id="clientForm">
    <section class="content col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="card-title">Cliente</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        @Html.HiddenFor(x => x.Id)
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName" class="control-label">Nombre(s)<span class="text-danger">(*)</span></label>
                            <input asp-for="FirstName" class="form-control"/>
                            <span asp-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LastName" class="control-label">Apellido(s)<span class="text-danger">(*)</span></label>
                            <input asp-for="LastName" class="form-control"/>
                            <span asp-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Identification" class="control-label">Identificacion<span class="text-danger">(*)</span></label>
                            <input asp-for="Identification" id="identification" class="form-control" disabled/>
                            <span asp-for="Identification" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PhoneNumber" class="control-label">Telefono<span class="text-danger">(*)</span></label>
                            <input asp-for="PhoneNumber" class="form-control"/>
                            <span asp-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="MobileNumber" class="control-label">Celular</label>
                            <input asp-for="MobileNumber" class="form-control"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="CountryId" class="control-label">País<span class="text-danger">(*)</span></label>
                            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                            <span asp-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="City" class="control-label">Ciudad<span class="text-danger">(*)</span></label>
                            <input asp-for="City" class="form-control"/>
                            <span asp-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Nacionality" class="control-label">Nacionalidad<span class="text-danger">(*)</span></label>
                            <input asp-for="Nacionality" class="form-control"/>
                            <span asp-for="Nacionality" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PostalAddress" class="control-label">Direccion Postal<span class="text-danger">(*)</span></label>
                            <input asp-for="PostalAddress" class="form-control"/>
                            <span asp-for="PhonePostalAddressNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Address">Direccion<span class="text-danger">(*)</span></label>
                            <textarea asp-for="Address" class="form-control" type="text"></textarea>
                            <span asp-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group float-right">
                            <a asp-action="Index" class="btn btn-secondary">Volver a la Consulta</a>
                            <button type="submit" id="submitClient" class="btn btn-success">
                                <i class="fa fa-save fa-fw"></i>Guardar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@*<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#beneficiaryListEdit").DataTable({
                "responsive": true,
                "lengthChange": false,
                //lengthMenu: [25, 50, 100, 200],
                "autoWidth": false,
                //"columnDefs": [
                //    {
                //        "targets": [3],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [4],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [5],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [6],
                //        "visible": false,
                //        "searchable": false
                //    },
                //    {
                //        "targets": [7],
                //        "visible": false,
                //        "searchable": false
                //    }, {
                //        "targets": [8],
                //        "visible": false,
                //        "searchable": false
                //    },
                //],
                //"buttons": {
                //    buttons: [
                //        {
                //            text: '<i class="fas fa-plus fa-fw"></i>Garante',
                //            className: 'btn-outline-primary',
                //            action: function (e, dt, node, config) {
                //                $('#_AddBeneficiaryModal').modal('show')
                //            }
                //        },
                //    ],
                //    dom: {
                //        button: {
                //            className: 'btn'
                //        },
                //        buttonLiner: {
                //            tag: null
                //        }
                //    }
                //},
                "oLanguage": {
                    "sSearch": "Filtrar en la Lista"
                },
                "language": {
                    emptyTable: "No hay datos para mostrar",
                    paginate: {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Proxima",
                        "previous": "Anterior"
                    },
                    info: "Mostrando _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrados de _MAX_ registros totales)",
                }
            });
        });
    });
</script>*@
}
