img.img-flag {
    margin: 0 !important;
    display: inherit !important;
    height: 15px;
    width: 18px
}

img.img-flag-currency {
    vertical-align: top;
    width: 23px;
    height: 20px;
}

textarea {
    resize: none;
}

#search, #select-beneficiary-search {
    position: relative;
    font-size: 18px;
    padding-top: 40px;
    margin: -40px auto 0;
}

    #search label, #select-beneficiary-search label {
        position: absolute;
        left: 17px;
        top: 45px !important;
    }

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

#search #search-input, #search .hint, #select-beneficiary-search #select-beneficiary-search-input, #select-beneficiary-search .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}

#search #search-clear, #select-beneficiary-search #select-beneficiary-search-clear {
    text-decoration: none;
    position: absolute;
    right: 18px;
    top: 54px;
    color: #b3b3b3;
}

.has-error .select2-selection {
    border-color: #ff0000;
    border-top-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    border-left-color: rgb(255, 0, 0);
}
.has-error .select2-container--default.select2-container--focus .select2-selection--single, 
.has-error .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #ff0000;
}

#select-beneficiary-modal table {
    width: 100% !important;
}

.color-primary {
    color: #1ab394;
}

.color-danger {
    color: #ed5565;
}

.color-warning {
    color: #f8ac59;
}
.color-info {
    color: #0288D1
}

table {
    width: 100% !important;
}
