@model RumarApp.Models.BeneficiaryModel

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center font-bold">Editar Beneficiario</h1>

<form asp-action="Edit" method="post" id="beneficiaryForm">
    <section class="content col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="card-title">Beneficiario</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        @Html.HiddenFor(x => x.Id)
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName" class="control-label">Nombre(s)<span class="text-danger">(*)</span></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LastName" class="control-label">Apellido(s)<span class="text-danger">(*)</span></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Identification" class="control-label">Identificacion<span class="text-danger">(*)</span></label>
                            <input asp-for="Identification" id="identification" class="form-control" />
                            <span asp-for="Identification" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PhoneNumber" class="control-label">Telefono<span class="text-danger">(*)</span></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="MobileNumber" class="control-label">Celular</label>
                            <input asp-for="MobileNumber" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="CountryId" class="control-label">País<span class="text-danger">(*)</span></label>
                            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                            <span asp-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="City" class="control-label">Ciudad<span class="text-danger">(*)</span></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Nacionality" class="control-label">Nacionalidad<span class="text-danger">(*)</span></label>
                            <input asp-for="Nacionality" class="form-control" />
                            <span asp-for="Nacionality" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PostalAddress" class="control-label">Direccion Postal<span class="text-danger">(*)</span></label>
                            <input asp-for="PostalAddress" class="form-control" />
                            <span asp-for="PhonePostalAddressNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Address">Direccion<span class="text-danger">(*)</span></label>
                            <textarea asp-for="Address" class="form-control" type="text"></textarea>
                            <span asp-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group float-right">
                            <a asp-action="Index" class="btn btn-secondary">Volver a la Consulta</a>
                            <button type="submit" id="submitClient" class="btn btn-success">
                                <i class="fa fa-save fa-fw"></i>Guardar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
</form>
