<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RumarApp</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css.map" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css.map" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/style.css" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <style>
        .pagination {
            margin: 0;
            float: right !important;
        }

        .span-background {
            background-color: #dad9d9
        }

        .btn-secondary {
            color: #333;
            background-color: #f3f3f3;
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            color: #fff;
            background-color: #5a6268;
            border-color: #545b62;
        }

        .btn-secondary:focus, .btn-secondary.focus {
            box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
        }

        .btn-secondary.disabled, .btn-secondary:disabled {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
        .show > .btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #545b62;
            border-color: #4e555b;
        }

        .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
        }

        .table-striped-even-light-blue > tbody tr:nth-of-type(even) {
            background-color: #1ce32b38;
        }

        .table-striped-even-light-blue > thead > tr {
            background-color: white;
            color: #1ab394;
            border-bottom: 2px solid;
            border-top: 2px solid;
        }

        .panel-primary > .panel-heading .badge {
            color: #1ab394;
            background-color: #fff;
        }

        .form-control.span-background.notes {
            height: 60px;
        }

    </style>
</head>
<body class="skin-1 pace-done">
    <div id="wrapper">

        <!-- Navigation -->
        <partial name="_Navigation">

        <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg container-fluid">
                <!-- Top Navbar -->
                <partial name="_TopNavbar">

                    <!-- Main view  -->
                    @RenderBody()

                    <!-- Footer -->
                    <footer class="border-top footer text-muted">
                        <div class="container">
                            &copy; 2021 - RumarCore - <a asp-area="" asp-page="/Privacy">Privacy</a>
                        </div>
                    </footer>
            </div>
        <!-- End page wrapper-->

    </div>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.highlight.js"></script>
    <script src="~/Scripts/plugins/jquery-idle/jquery.idle.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/plugins/ladda/spin.min.js"></script>
    <script src="~/Scripts/plugins/ladda/ladda.min.js"></script>
    <script src="~/Scripts/plugins/ladda/ladda.jquery.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
