@model RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Banking | Registro</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box" style="width: 600px !important">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Rumar</b>App</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Crear un Nuevo Usuario</p>

                <form action="/Security/Register" method="post">
                    <div class="row">
                        <div class="input-group mb-3 col-md-12">
                            <input type="text" class="form-control" asp-for="UserName" placeholder="Usuario">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Repita la Contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-12">
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="Nombre">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-12">
                            <input type="text" class="form-control" asp-for="LastName" placeholder="Apellido">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-12">
                            <input type="text" class="form-control" asp-for="Identification" placeholder="Cedula">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-id-card"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Identification" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-12">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefono">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-id-card"></span>
                                </div>
                            </div>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" asp-for="MobileNumber" placeholder="Celular">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-id-card"></span>
                                </div>
                            </div>
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3 col-md-12">
                            @Html.TextAreaFor(m=> m.Address, new { @class="form-control", @placeholder="Direccion" })
                            @*<textarea type="text" class="form-control" asp-for="Address" placeholder="Direccion"></textarea>*@
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-id-card"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <!-- /.col -->
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                            <!-- /.col -->
                        </div>
                    </div>
                </form>
                <a href="@Url.Action("Login")" class="text-center">Tengo una Cuenta de Usuario</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
</body>
</html>

<partial name="_ValidationScriptsPartial" />